@font-face {
    font-family: 'Playfair_Display\,Work_Sans';
    src: url('fonts/Playfair_Display\,Work_Sans/') format('truetype');
}
*{
    margin: 0;
    padding: 0;

}
body {
        font-family: 'Playfair_Display\,Work_Sans', sans-serif;
        min-height: 100vh;
        background: linear-gradient(to bottom, 
        #f5f5f5 0%,      
        #cccccc 10%,     
        #1a1a1a 25%,     
        #000000 40%      
    );
    color: #ffffff;
    }
nav {
    position: fixed;
    top: 0;               
    left: 0;             
    width: 100%;          
    padding: 15px 20px;
    z-index: 1000;        
}

nav ul  {
    display: flex;
    justify-content: flex-end; 
    gap: 20px;
    list-style: none;
    font-family: 'Playfair_Display\,Work_Sans', sans-serif;
}
nav ul li a {
    text-decoration: none;
}
nav ul li a:visited{
                    color: black;
}
nav ul li a:hover {
    color: whitesmoke;
    text-decoration: underline;
}
h1{
    margin-left: 20px;
}
h1 a {
    text-decoration: none;
}
h1 a:visited{ 
    color: black;
}
h1 a:hover {
    color: whitesmoke;
}
h2 {
    text-align: center;
}
.competences {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 40px;
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.competence {
    text-align: center;
}

.competence img {
    width: 80px;  
    height: 80px;
    transition: transform 0.3s; 
}

.competence img:hover {
    transform: scale(1.2); 
}

